---
import type { Book } from "../lib/getBooks";

const { title, id, image, categories } = Astro.props as Book;
---

<article class="flex max-w-xl flex-col items-start justify-between">
  <div class="flex items-center gap-x-4 text-xs">
    {categories.map((category) => (
      <a
        href={`/book/category/${category.id}`}
        class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100"
      >
        {category.name}
      </a>
    ))}
  </div>
  <div class="group relative">
    <div
      class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
    >
      <img
        src={image?.url ?? ''}
        alt="Front of men's Basic Tee in black."
        class="h-full w-full object-cover object-center group-hover:opacity-75"
      />
    </div>
    <h3
      class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
    >
      <a href={`/book/detail/${id}`}>
        <span class="absolute inset-0"></span>
        {title}
      </a>
    </h3>
  </div>
  <div class="relative mt-8 flex items-center gap-x-4">
    <img
      src="https://avatars.githubusercontent.com/u/92777873?v=4"
      alt=""
      class="h-10 w-10 rounded-full bg-gray-50"
    />
    <div class="text-sm leading-6">
      <p class="font-semibold text-gray-900">
        <a href={`/book/detail/${id}`}>
          <span class="absolute inset-0"></span>
          岡本大貴
        </a>
      </p>
      <p class="text-gray-600">Engineer</p>
    </div>
  </div>
</article>